system:
  data_path: "var/data"
  upload_path: "var/upload"
server:
  port: 8080
  cors:
    - "http://localhost:3000"
    - "http://localhost:5173" # Frontend
    - "http://localhost:5001" # Frontend: Refine Devtools
    - "http://localhost:8081" # Swagger
grpc_server:
  endpoint: ":50051"
db:
  host: "postgres"
  port: 5432
  sslmode: "disable"
  user: "user"
  password: "password"
  dbname: "receipts_db"
gorm_gen_proto:
  path_maps: "data/maps"
  path_tmpl: "data/templates"
  proto_root: "../common/proto"
  protoc_root: "../../api/pb"
  services_root: "../api/services"
